
ZAI_API_KEY=""
ZAI_BASE_URL="https://open.bigmodel.cn/api/paas/v4"

ALIYUN_API_KEY=""
ALIYUN_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

QWEATHER_PRIVATE_KEY_PATH=""
QWEATHER_PUBLIC_KEY_PATH=""
QWEATHER_API_HOST="https://kf3aarf2g4.re.qweatherapi.com"
QWEATHER_PROJECT_ID=""
QWEATHER_KEY_ID=""

TAVILY_API_KEY=""

AMAP_API_KEY=""

SANDBOX_PROVIDER="daytona"
DAYTONA_API_KEY=""
DAYTONA_API_URL=""
DAYTONA_TARGET=""

DOCKER_SANDBOX_IMAGE="python:3.13-slim"
DOCKER_SANDBOX_NETWORK="none"
DOCKER_SANDBOX_MEMORY="512m"
DOCKER_SANDBOX_CPUS="1.0"
DOCKER_SANDBOX_CONTAINER_PREFIX="day1-sbx-"
