
ZAI_API_KEY=""
ZAI_BASE_URL="https://open.bigmodel.cn/api/paas/v4"

QWEATHER_PRIVATE_KEY_PATH=""
QWEATHER_PUBLIC_KEY_PATH=""
QWEATHER_API_HOST="https://kf3aarf2g4.re.qweatherapi.com"
QWEATHER_PROJECT_ID=""
QWEATHER_KEY_ID=""

TAVILY_API_KEY=""
