
ZAI_API_KEY=""
ZAI_BASE_URL="https://open.bigmodel.cn/api/paas/v4"

# KMPKV3EPAF
# 9602ea34031540b1a49d91e6b4137f61
QWEATHER_API_HOST="https://kf3aarf2g4.re.qweatherapi.com"
QWEATHER_TOKEN="9602ea34031540b1a49d91e6b4137f61"

